<div class="jumbotron">
  <h3>{{(chartToDisplay | async)?.name}}</h3>
  <h4>{{(chartToDisplay | async)?.birthDate}} | {{(chartToDisplay | async)?.birthTime}}</h4>
  <h5>{{(chartToDisplay | async)?.birthLoc}}</h5>
  <h5>Sun in {{(chartToDisplay | async)?.sunSignFormat}}</h5>
  <h5>Moon in {{(chartToDisplay | async)?.moonSignFormat}}</h5>
  <h5>Mercury in {{(chartToDisplay | async)?.mercSignFormat}}</h5>
  <h5>Venus in {{(chartToDisplay | async)?.venusSignFormat}}</h5>
  <h5>Mars in {{(chartToDisplay | async)?.marsSignFormat}}</h5>
  <h5>Jupiter in {{(chartToDisplay | async)?.jupiterSignFormat}}</h5>
  <h5>Saturn in {{(chartToDisplay | async)?.saturnSignFormat}}</h5>
  <h5>Uranus in {{(chartToDisplay | async)?.uranusSignFormat}}</h5>
  <h5>Neptune in {{(chartToDisplay | async)?.neptuneSignFormat}}</h5>
  <h5>Pluto in {{(chartToDisplay | async)?.plutoSignFormat}}</h5>

</div>

<br>
