<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Date</th>
      <th scope="col">Time</th>
      <th scope="col">Location</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let currentChart of childChartList">
      <td>{{currentChart.name}}</td>
      <td>{{currentChart.birthDate}}</td>
      <td>{{currentChart.birthTime}}</td>
      <td>{{currentChart.birthLoc}}</td>
      <td><button (click)="editButtonClicked(currentChart)">Edit Chart</button></td>
    </tr>
  </tbody>
</table>
