/* You can add global styles to this file, and also import other style files */
.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: #ec9787;
  padding: 15px;
}
